body {
    font-family: 'EB Garamond', serif;
    font-size: 200%;
}

.navbar {
    background-color: #222222;
    color: gray;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.myface {
    margin: 20px 0px;
}

.datecol {
    padding: 5px;
    margin-top: 5px;
    border-right: 2px solid lightgrey;
}

.date {
    margin: 0px;
}

.article {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid lightgrey;
}

.articletitle {
    margin-top: 0px;
}

.articleimg {
    display: none;
    width: 50%;
}

span {
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    color: darkred;
}

@media (min-width: 768px) {
    .articleimg {
        display: block;
    }
}